<div *ngFor="let filter of filters;" class="block">
    <div class="header">{{ filter.title }}</div>
    <dl class="content">
        <template ngFor let-option="$implicit" [ngForOf]="filter.elements">
            <dt>
                <a (click)="changeOption(option, filter.key)">
                    <span class="fa fa-check" *ngIf="option.status === true"></span>&nbsp;{{ option.label }}
                </a>
            </dt>
           <dd></dd>
        </template>
    </dl>
</div>
