.view, agm-map{
    position: relative;
    width: 100%;
    height: 100%;
}

.title-popup{
      color: #626e72;
      text-transform: uppercase;
}
.wrapper-address{
    margin-top: 8px;

}

.nomenclature{
    position: absolute;
    height: 100%;
    width: 330px;
    background-color: white;
    top: 0px;
    padding: 20px;
    .title-nom{
        padding: 12px 8px 6px 8px;
        margin-bottom: 24px;
        .logo-img{
                    width: 180px;
                    height: 60px;
                    display: inline-block;
                    vertical-align: middle;
                    background: url('../../../content/images/logo-header-03.png') no-repeat center center;
                    background-size: contain;
              }
    }
    .media{
        padding: 5px 10px;
        border-bottom: 1px dotted #ddd;
        margin-bottom: 2px;
        .media-body{
            padding-top: 5px;
        }
    }
}
