<div class='block'>
    <div id="map-wrapper" class="sr-only">
        <agm-map [latitude]="centerMap.lat" [longitude]="centerMap.lng">
            <agm-marker [iconUrl]="place.iconUrl" [latitude]="place.lat" [longitude]="place.lng" *ngFor="let place of places; let i=index">
                <agm-info-window>
                   <div class="media">
                       <div class="mr-3">
                            <img src="{{place.iconUrl}}" class="icon" />
                        </div>
                        <div class="media-body text-center">
                            <a href="/#/place/{{place.id}}" target="_blank" class="title-popup">{{place.name}}</a>
                            <div class="wrapper-address">{{place.address}}</div>
                        </div>
                   </div>
                </agm-info-window>
            </agm-marker>
        </agm-map>
        <div class="nomenclature">
            <div class="text-center title-nom">
                <span class="logo-img"></span>
            </div>
            <div *ngFor="let icon of iconsMap; let i=index" class="media">
                <div class="mr-3">
                   <img src="{{getImage(i)}}" class="icon-nom" />
                </div>
                <div class="media-body">
                {{icon.description}}
                </div>
            </div>
        </div>
    </div>
        <button (click)="clickToFullScreen()" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Visualizar en mapa
        </button>

</div>
