<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myNodeLabel">Crear o editar Posición de trabajo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!node.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="node.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="migrantechApp.node.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="node.title" required/>
            <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="migrantechApp.position.body" for="field_body">Body</label>
            <textarea type="text" class="form-control" name="body" id="field_body"
                      [(ngModel)]="jsonBody.body" required> </textarea>
            <div [hidden]="!(editForm.controls.body?.dirty && editForm.controls.body?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.body?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="migrantechApp.position.company" for="field_company">Company name</label>
            <input type="text" class="form-control" name="company" id="field_company"
                      [(ngModel)]="jsonBody.company" required> </input>
        </div>
        <div class="row">
            <div class="form-group col-6 col-md-4">
                <label class="form-control-label" jhiTranslate="migrantechApp.position.salary" for="field_salary">Salary </label>
                <input class="form-control" type="number" name="salary" id="field_salary" [(ngModel)]="jsonBody.salary">
            </div>
            <div class="form-group col-6 col-md-4">
                <label class="form-control-label" jhiTranslate="migrantechApp.position.yearsExperience" for="years_experience">Years of experience </label>
                <input class="form-control" type="number" name="yearsExperience" id="years_experience" [(ngModel)]="jsonBody.yearsExperience">
            </div>
            <div class="form-group col-12 col-md-4">
                    <label class="form-control-label" jhiTranslate="migrantechApp.position.scolarity" for="field_scolarity">Scolarity</label>
                    <select class="form-control" name="scolarity" [(ngModel)]="jsonBody.scolarity" id="field_scolarity" >
                        <option value="primariaTrunca">Primaria Trunca</option>
                        <option value="primaria">Primaria terminada</option>
                        <option value="secundariaTrunca">Secundaria Trunca</option>
                        <option value="secundaria">Secundaria Terminada</option>
                        <option value="preparatoriaTrunca">Preparatoria Trunca</option>
                        <option value="preparatoria">Preparatoria Terminada</option>
                        <option value="licenciatura">Licenciatura</option>
                        <option value="maestria">Maestría</option>
                    </select>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="migrantechApp.position.contractType" for="field_contractType">Contract Type</label>
            <select class="form-control" name="contractType" [(ngModel)]="jsonBody.contractType" id="field_contractType" >
                <option value="tiempoCompleto">Tiempo completo</option>
                <option value="medioTiempo">Medio Tiempo</option>
                <option value="veinticuatro">24 x 24</option>
                <option value="flex">Flexible</option>
                <option value="flex">Multiple</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="migrantechApp.node.influenceArea">Influence Area</label>
            <jhi-areamun [(mun)]="areaExternal"> </jhi-areamun>
            <div [hidden]="!(editForm.controls.influenceArea?.dirty && editForm.controls.influenceArea?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.influenceArea?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label jhiTranslate="migrantechApp.node.tags" for="field_tags">Tags</label>
            <!--<select class="form-control" id="field_tags" multiple name="tags" [(ngModel)]="node.tags">
                <option [ngValue]="getSelected(node.tags, tagOption)" *ngFor="let tagOption of tags; trackBy: trackTagById">{{tagOption.title}}</option>
            </select>-->
            <div id="field_tags">
                <jhi-tags [(tags)]="tagsExternal"></jhi-tags>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
