</br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 jhiTranslate="settings.title" translateValues="{username: '{{settingsAccount.login}}'}" *ngIf="settingsAccount">User settings for [<b>{{settingsAccount.login}}</b>]</h2>

            <div class="alert alert-success" *ngIf="success" jhiTranslate="settings.messages.success">
                <strong>Settings saved!</strong>
            </div>

            <jhi-alert-error></jhi-alert-error>

            <form name="form" role="form" (ngSubmit)="save()" #settingsForm="ngForm" *ngIf="settingsAccount" novalidate>

                <div class="form-group">
                    <label class="form-control-label" for="firstName" jhiTranslate="settings.form.firstname">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="{{'settings.form.firstname.placeholder' | translate}}"
                           [(ngModel)]="settingsAccount.firstName" minlength=1 maxlength=50 #firstNameInput="ngModel" required>
                    <div *ngIf="firstNameInput.dirty && firstNameInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="firstNameInput.errors.required" jhiTranslate="settings.messages.validate.firstname.required">
                            Your first name is required.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="firstNameInput.errors.minlength" jhiTranslate="settings.messages.validate.firstname.minlength">
                            Your first name is required to be at least 1 character.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="firstNameInput.errors.maxlength" jhiTranslate="settings.messages.validate.firstname.maxlength">
                            Your first name cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="lastName" jhiTranslate="settings.form.lastname">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="{{'settings.form.lastname.placeholder' | translate}}"
                           [(ngModel)]="settingsAccount.lastName" minlength=1 maxlength=50 #lastNameInput="ngModel" required>
                    <div *ngIf="lastNameInput.dirty && lastNameInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="lastNameInput.errors.required" jhiTranslate="settings.messages.validate.lastname.required">
                            Your last name is required.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="lastNameInput.errors.minlength" jhiTranslate="settings.messages.validate.lastname.minlength">
                            Your last name is required to be at least 1 character.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="lastNameInput.errors.maxlength" jhiTranslate="settings.messages.validate.lastname.maxlength">
                            Your last name cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="email" jhiTranslate="global.form.email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                           [(ngModel)]="settingsAccount.email" minlength="5" maxlength="100" #emailInput="ngModel" email required>
                    <div *ngIf="emailInput.dirty && emailInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.required" jhiTranslate="global.messages.validate.email.required">
                            Your email is required.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.email" jhiTranslate="global.messages.validate.email.invalid">
                            Your email is invalid.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.minlength" jhiTranslate="global.messages.validate.email.minlength">
                            Your email is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.maxlength" jhiTranslate="global.messages.validate.email.maxlength">
                            Your email cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="userManagement.file" for="field_file">File</label>
                    <div>
                        <div *ngIf="settingsAccount && settingsAccount.file && settingsAccount.fileContentType" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(settingsAccount.fileContentType, settingsAccount.file)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{settingsAccount.fileContentType}}, {{byteSize(settingsAccount.file)}}</span>
                            <button type="button" (click)="settingsAccount.file=null;settingsAccount.fileContentType=null;"
                                    class="btn btn-secondary btn-xs pull-right">
                                <span class="fa fa-times"></span>
                            </button>
                        </div>
                        <input type="file" id="file_file" accept="image/*" (change)="setFileData($event, settingsAccount, 'file', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="file" id="field_file"
                           [(ngModel)]="settingsAccount.file"  />
                    <input type="hidden" class="form-control" name="fileContentType" id="field_fileContentType"
                           [(ngModel)]="settingsAccount.fileContentType" />
                </div>


                <div class="form-group" *ngIf="languages && languages.length > 0">
                    <label for="langKey" jhiTranslate="settings.form.language">Language</label>
                    <select class="form-control" id="langKey" name="langKey" [(ngModel)]="settingsAccount.langKey">
                        <option *ngFor="let language of languages" [value]="language">{{language | findLanguageFromKey}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="userManagement.profiles">Profiles</label>
                    <div>
                        <ss-multiselect-dropdown  *ngIf="roles.length > 0" [ngModelOptions]="{standalone: true}" [options]="roles" [(ngModel)]="settingsAccount.authorities ">
                        </ss-multiselect-dropdown>
                    </div>
                </div>

                <div class="form-group" *ngIf="settingsAccount.authorities.indexOf('ROLE_COLABORADOR') > -1">
                    <label class="form-control-label">Nombre de asociación o Institución a la que representa</label>
                    <input type="text" class="form-control" name="login" #nomInstInput="ngModel"
                           [(ngModel)]="settingsAccount.nomInst" required minlength="1" maxlength="255">
                    <div *ngIf="nomInstInput.dirty && nomInstInput.invalid">
                        <small class="form-text text-danger"
                               *ngIf="nomInstInput.errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="nomInstInput.errors.maxlength" jhiTranslate="entity.validation.maxlength"
                               translateValues="{max: 50}">
                            This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-check">
                    <label class="form-check-label" for="show_in_list">
                        <input class="form-check-input" type="checkbox" id="show_in_list" name="show_in_list" [(ngModel)]="settingsAccount.showInList">
                        <span>Aparecer en listados de vinculación sponsor-migrante</span>
                    </label>
                </div>
                </br>


                <div class="form-group"     >
                    <label class="form-control-label">Lugar de orígen</label>
                    <jhi-areamun [(mun)]="settingsAccount.originArea"> </jhi-areamun>
                </div>

                <div class="form-group">
                    <label class="form-control-label">Lugar de residencia</label>
                    <jhi-areamun [(mun)]="settingsAccount.currentArea"> </jhi-areamun>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="userManagement.topic" for="field_topic">Topic</label>
                    <select class="form-control" name="topic" [(ngModel)]="settingsAccount.topic" id="field_topic"  required>
                        <option value="Educacion">{{'migrantechApp.Topic.Educacion' | translate}}</option>
                        <option value="Trabajo">{{'migrantechApp.Topic.Trabajo' | translate}}</option>
                        <option value="Emprendurismo">{{'migrantechApp.Topic.Emprendurismo' | translate}}</option>
                    </select>
                    <div [hidden]="!(settingsForm.controls.topic?.dirty && settingsForm.controls.topic?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!settingsForm.controls.topic?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="field_experience">Área de experiencia</label>
                    <div id="field_experience">
                        <jhi-experiences [(experiences)]="settingsAccount.experiences"></jhi-experiences>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label">Bio</label>
                    <textarea type="text" class="form-control" name="bio" #bioInput="ngModel"
                              [(ngModel)]="settingsAccount.bio" required minlength="1" cols="10">
                    </textarea>
                    <div *ngIf="bioInput.dirty && bioInput.invalid">
                        <small class="form-text text-danger"
                               *ngIf="bioInput.errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="settingsForm.form.invalid" class="btn btn-primary" jhiTranslate="settings.form.button">Save</button>
            </form>
        </div>
    </div>

</div>
</br>
