.footer{
    background: rgb(104, 114, 123);
    color: #fff;
    text-align: center;
    padding-top: 7px;
    .brand{
        display: inline-block;
        margin: 15px 15px;
        img {
            height: 60px;
        }
    }
    .map-backgroud{
        padding: 43px 15px;
        position: relative;
        &::after {
            background: url("../../../content/images/global_image.png");
            width: 100%;
            height: 156px;
            background-repeat: no-repeat;
            background-size: 100% auto;
            content: '';
            top: 0px;
            right: 0px;
            position: absolute;
            display: inline-block;
            opacity: 0.1;
        }
    }
}
