<div class="footer">
    <div class="container map-backgroud">
        <div class="brand">
            <img src="../../../content/images/logo-Jalfooter.png" alt="Logotipo de gobierno de estado de Jalisco"/>
        </div>
        <div class="brand">
            <img src="../../../content/images/logo-MTfooter.png" alt="Logotipo de migratech"/>
        </div>
        <div class="brand">
            <img src="../../../content/images/logo-CRfooter.png" alt="Logotipo de CodeRobot"/>
        </div>
    </div>
</div>
