<div class="timeline-area">
        <div class="container-fluid">
            <div class="row">
                <div class="offset-lg-1"> </div>
                <div class="tc col-md-3 col-lg-3 col-xl-2">
                    <jhi-profile-block></jhi-profile-block>
                    <jhi-app-menu></jhi-app-menu>
                </div>
                <div class="tc col-md-6 col-lg-4 col-xl-6">
                    <div class="operations">
                        <jhi-operations [(activeFilters)]="activeFilters" [changeFilter]="changeFilter.bind(this)"></jhi-operations>
                    </div>
                    <div class="timeline-content">
                        <div class="alert alert-info" *ngIf="!nodes || nodes.length == 0">
                            No hay contenidos publicados en la plataforma.
                        </div>
                        <div class="intro-info block">
                            <h5>Bienvenido a la línea de tiempo de Migrantech</h5>
                            <div class="intro-content">
                                En esta línea de tiempo podrás acceder a las últimas interacciones, foros, notas y
                                blogs de la comunidad migrante.
                            </div>
                        </div>
                        <div infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                            <div *ngFor="let node of nodes;" class="timeline-block {{ node.type | lowercase }}">
                                <div class="timeline-image" *ngIf="(node.type=='Blog' || node.type=='Eventos') && node.body && node.body.file !== undefined " >
                                        <img [src]="'data:image/jpg;base64,'+ node.body.file" /> <!-- {{ node.body.file }} -->
                                </div>
                                <div class="timeline-header">
                                    <h4 class="timeline-header">{{ node.title }}</h4>
                                </div>
                                <div class="timeline-content">
                                    <div class="tags">
                                        <span class="tag badge badge-secondary">{{ node.type }}</span>
                                        <span class="tag badge badge-secondary">{{ node.topic }}</span>
                                        <span class="tag badge badge-secondary">{{ node.createdBy }}</span>
                                        <span class="tag badge badge-secondary">{{ node.createdDate | date:'short' }}</span>
                                        <span class="tag badge badge-secondary" *ngFor="let tag of node.tags;">{{ tag.title }}</span>
                                    </div>
                                    <!-- QUESTION -->
                                    <div class="timeline-text" *ngIf="node.type=='Pregunta' && node.body">
                                        {{ node.body.question }}
                                    </div>
                                    <!-- BLOG -->
                                    <div class="timeline-text" *ngIf="node.type=='Blog' && node.body">
                                        {{ node.body.body }}
                                        <br/>
                                        <span *ngIf="node.body.url.src !== null">
                                            Enlaces complementarios:
                                            <a [href]="node.body.url.src" > {{ node.body.url.title }} </a>
                                        </span>
                                    </div>
                                    <!-- BOLSATRABAJO -->
                                    <div class="timeline-text" *ngIf="node.type=='BolsaTrabajo' && node.body">
                                        {{ node.body.body }}
                                        <br/>
                                        <span *ngIf="node.body.salary !== null">
                                            Salario aproximado: {{ node.body.salary }}
                                        </span>
                                    </div>
                                    <!-- PROGRAMAAPOYO -->
                                    <div class="timeline-text" *ngIf="node.type=='ProgramaApoyo' && node.body">
                                        {{ node.body.body }}
                                        <br/>
                                        <span *ngIf="node.body.dependence !== null">
                                            Dependencia encargada: <strong>{{ node.body.dependence }}</strong>
                                        </span> <br/>
                                        <span *ngIf="node.body.validityTo !== null">
                                            Fecha de vigencia: <strong>{{ node.body.validityTo | date: 'dd/MM/yyyy' }}</strong>
                                        </span><br/>
                                        <span *ngIf="node.body.url.src !== null">
                                            Enlaces oficial:
                                            <a [href]="node.body.url.src" > {{ node.body.url.title }} </a>
                                        </span>
                                    </div>
                                    <!-- EVENTOS -->
                                    <div class="timeline-text" *ngIf="node.type=='Eventos' && node.body">
                                        {{ node.body.body }}
                                        <br/>
                                        <span *ngIf="node.body.date !== null">
                                            Fecha del evento: <strong>{{ node.body.date | date: 'dd/MM/yyyy' }}</strong>
                                        </span><br/>
                                        <span *ngIf="node.places && node.places.length > 0">
                                            Dirección: <strong>{{ node.places['0'].name}}<br/>
                                            {{ node.places[0].address}}</strong>
                                        </span><br/>
                                    </div>

                                    <div class="timeline-options">
                                        <span *ngIf="node.like == false">
                                            <span class="fa fa-heart" style="opacity: 0.5;"></span>&nbsp;<a (click)="like(node)" >Me interesa</a>
                                        </span>
                                        <span *ngIf="node.like == true">
                                            <span class="fa fa-heart"></span>&nbsp;<a (click)="like(node)" *ngIf="node.like == true">Ya no me interesa</a>
                                        </span> &nbsp;
                                        <span><span class="fa fa-comments"></span>&nbsp;<a (click)="showCommentArea(node)">Ver comentarios / Comentar</a></span> &nbsp;
                                        <span class="tag badge badge-warning">
                                            {{ node.body.comments.length }} comentarios
                                        </span>
                                    </div>
                                    <div class="comments" *ngIf="node.showCommentAreaFlag">
                                        <br/>
                                        <h5>Comentarios</h5>
                                        <jhi-comments [originalNode]="node" [comments]="node.body.comments" [level]="0" [currentUser]="currentUser"></jhi-comments>
                                    </div>

                                    <!--
                                    <div class="comments col-md-9" id="comments">
                                        <h3 class="mb-2 comments-header">Comentarios</h3>
                                        <div class="comment mb-2 row">
                                            <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                                                <a href=""><img class="mx-auto rounded-circle img-fluid" src="http://demos.themes.guide/bodeo/assets/images/users/m103.jpg" alt="avatar"></a>
                                            </div>
                                            <div class="comment-content col-md-11 col-sm-10">
                                                <h6 class="small comment-meta"><a href="#">admin</a> Today, 2:38</h6>
                                                <div class="comment-body">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <a href>http://wwwwww.com</a> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                                                        <br>
                                                        <a href="" class="text-right small"><i class="ion-reply"></i> Reply</a>
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="comment-reply col-md-11 offset-md-1 col-sm-10 offset-sm-2">
                                                <div class="row">
                                                    <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                                                        <a href=""><img class="mx-auto rounded-circle img-fluid" src="http://demos.themes.guide/bodeo/assets/images/users/m101.jpg" alt="avatar"></a>
                                                    </div>
                                                    <div class="comment-content col-md-11 col-sm-10 col-12">
                                                        <h6 class="small comment-meta"><a href="#">phildownney</a> Today, 12:31</h6>
                                                        <div class="comment-body">
                                                            <p>Really?? Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
                                                                <br>
                                                                <a href="" class="text-right small"><i class="ion-reply"></i> Reply</a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comment mb-2 row">
                                            <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                                                <a href=""><img class="mx-auto rounded-circle img-fluid" src="http://demos.themes.guide/bodeo/assets/images/users/w102.jpg" alt="avatar"></a>
                                            </div>
                                            <div class="comment-content col-md-11 col-sm-10">
                                                <h6 class="small comment-meta"><a href="#">maslarino</a> Yesterday, 5:03 PM</h6>
                                                <div class="comment-body">
                                                    <p>Sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                                                        <br>
                                                        <a href="" class="text-right small"><i class="ion-reply"></i> Reply</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pt-2">
                                            <div class="col-12">
                                                <a href="" class="btn btn-sm btn-primary">Comment</a>
                                            </div>
                                        </div>

                                    </div>
                                    -->
                                </div>
                            </div>
                        </div>
                        <div class="loadingArea text-center" *ngIf="isLoading">
                            <div id="loading"></div>
                        </div>

                    </div>
                </div>
                <div class="tc col-md-3 col-lg-3 col-xl-2">
                    <jhi-filters [(activeFilters)]="activeFilters" [changeFilter]="changeFilter.bind(this)"></jhi-filters>
                </div>
                <div class="offset-lg-1"> </div>
            </div>
        </div>
</div>
