:host ::ng-deep .block-wb {
    margin-top:20px;
    margin-left: 5px;
    margin-right: 5px;
}
.intro-info{
    border: 1px solid #f7f7f7;
    padding: 15px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    background-image: url("../../content/images/init-1.png");
    background-repeat: repeat-x;
    border-left: 10px solid #f7f7f7;
    border-radius: 5px;

    h5 {
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .intro-content {
        padding-bottom: 20px;
    }
    margin-bottom: 20px;
}
:host ::ng-deep .block {
    .header {
        height: 50px;
        padding: 15px;
        vertical-align: middle;
        font-size: 14px;
        font-weight: bold;
        color:white;
        background: url("../../content/images/global_image.png") #363A3D;
        background-repeat: no-repeat;
        background-size: 100% auto;
        border-radius: 2px;
        .description{
           color: #a1abb2 !important;
        }
    }
    .content {
        dt{
            font-size: 14px !important;
            padding-top: 10px;
        }
        dd{
            font-size: 12px !important;
            border-bottom: 1px solid #f7f7f7;

        }
        dt,
        dd{
            border-left: 1px solid #f7f7f7 !important;
            border-right: 1px solid #f7f7f7 !important;
            margin: 0px !important;
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;
        }

    }
    margin-top:20px;
    margin-left: 5px;
    margin-right: 5px;
}
.operations{
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}
.timeline-block{
    border: 1px solid #f7f7f7;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 15px;
    .timeline-header {
        h4 {
            font-weight: 400;
        }
    }
    .timeline-content{
        .tag{
            margin-right: 2px;
        }
        .timeline-options{
            margin-top: 10px;
            a {
                font-weight: normal;
                font-size: 14px;
                color: #1761b4;
            }
        }
        .timeline-text{
            margin-top: 10px;
        }
        .tags-footer{
            margin: 10px;
        }
    }
    &.pregunta{
        border-left: 10px solid #FCE2F3;
    }
    &.blog{
        border-left: 10px solid #DEDDEE;
    }
    &.eventos{
        border-left: 10px solid #E5F3FC;
    }
    &.programaapoyo{
        border-left: 10px solid #D8E5E4;
    }
    &.bolsatrabajo{
        border-left: 10px solid #b1e1e8;
    }
    &.oficinaatencion{
        border-left: 10px solid #ffc1071f;
    }
    .comments-header {
        margin-top: 20px;
        font-size: 18px;
        border-bottom: 1px solid #f9f9f9;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .comments h5 {
        border-bottom: 1px solid #f9f9f9;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
}
.timeline-image {
    float: left;
    img {
        width: 250px;
        padding: 0 20px 10px 0px;
    }
}
