<div class="component-field" id="tag-field-component">
    <div>
        <tag-input [(ngModel)]="tags"
                   [placeholder]="options.placeholder"
                   [onTextChangeDebounce]="500"
                   [secondaryPlaceholder]="options.secondaryPlaceholder"
                   [onlyFromAutocomplete]="false"
                   [identifyBy]="'title'"
                   [displayBy]="'title'"
                   [onAdding]="onAdding"
                   [onRemoving]="onRemoving">
            <tag-input-dropdown
                [autocompleteObservable]="requestAutocompleteItems"
                [identifyBy]="'title'"
                [displayBy]="'title'"
            >
            </tag-input-dropdown>
        </tag-input>
    </div>
</div>
