<div class="timeline-area">
    <div class="container-fluid">
        <div class="row">
            <div class="offset-lg-1"> </div>
            <div class="tc col-md-3 col-lg-3 col-xl-2">
                <jhi-profile-block></jhi-profile-block>
                <jhi-app-menu></jhi-app-menu>
            </div>
            <div class="tc col-md-6 col-lg-4 col-xl-6">
                <div class="intro-info block">
                    <h5>Vinculación migrantes - Sponsor</h5>
                    <div class="intro-content">
                        Utiliza este directorio para buscar a personas con las que te sientas identificado, los colaboradores
                        que se registran en este directorio tienen el objetivo y la convicción de ayudar a integrarte a
                        tu destino de acogida, sientete con la confianza de preguntarles tus dudas o inquietudes.
                    </div>
                </div>
                <div class="operations">
                    <jhi-operations [showMapButton]="false" [showOperations]="false" [(activeFilters)]="activeFilters" [changeFilter]="changeFilter.bind(this)"></jhi-operations>
                </div>
                <div class="timeline-content">
                    <div class="alert alert-info" *ngIf="!users || users.length == 0">
                        No hay contenidos publicados en la plataforma.
                    </div>
                    <div infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                        <div *ngFor="let user of users;" class="timeline-block">
                            <div class="row">
                                <div class="col-sm-2 col-xs-2">
                                    <img *ngIf="user && user.file === null"
                                         src="../../content/images/image_profile.jpg" class="prof-img mx-auto img-rounded img-fluid"/>
                                    <img *ngIf="user && user.file !== null"
                                         src="{{'data:' + user.fileContentType + ';base64,' + user.file}}"
                                         class="prof-img mx-auto img-rounded img-fluid"/>
                                    <div>
                                        <span style="width: 100%; margin-bottom: 5px;" class="badge-pill badge badge-success" *ngIf="user.nomInst && user.nomInst.length > 0">Institución</span>
                                        <span style="width: 100%; margin-bottom: 5px;" class="badge-pill badge badge-primary" *ngIf="!user.nomInst">Colaborador</span>
                                    </div>
                                    <a routerLink="/messages" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="btn-block btn btn-sm btn-outline-primary">Enviar mensaje</a>
                                </div>
                                <div class="col-sm-10 col-xs-10">
                                    <h5 class="timeline-header">{{ user.firstName }} {{ user.lastName }}</h5>
                                    <h6>{{ user.nomInst }}</h6>
                                    <div class="fields">
                                        <div>
                                            <strong class="lbl">¿Quién soy y como te puedo ayudar?</strong>
                                            <div class="description">{{ user.bio }}</div>
                                        </div>
                                        <div class="group-field" *ngIf="user.originArea && user.originArea.nomEnt">
                                            <strong class="lbl">Lugar de origen: </strong>
                                            <span >{{ user.originArea.nomEnt }}</span>
                                        </div>
                                        <div class="group-field" *ngIf="user.currentArea && user.currentArea.nomEnt">
                                            <strong class="lbl">Lugar de residencia: </strong>
                                            <span >{{ user.currentArea.nomEnt }}</span>
                                        </div>
                                        <div class="group-field" *ngIf="user.experiences && user.experiences.length > 0">
                                            <strong class="lbl">Áreas de experiencia: </strong>
                                            <span class="tag badge badge-secondary" *ngFor="let exp of user.experiences;">{{ exp.name }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="loadingArea text-center" *ngIf="isLoading">
                        <div id="loading"></div>
                    </div>

                </div>
            </div>
            <div class="tc col-md-3 col-lg-3 col-xl-2">
                <jhi-filters [(activeFilters)]="activeFilters" [changeFilter]="changeFilter.bind(this)"></jhi-filters>
            </div>
            <div class="offset-lg-1"> </div>
        </div>
    </div>
</div>
