<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myNodeLabel" jhiTranslate="migrantechApp.node.home.createOrEditLabel">Create or edit a Node</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!node.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="node.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="migrantechApp.node.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="node.title" required/>
            <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="migrantechApp.node.body" for="field_body">Body</label>
            <input type="text" class="form-control" name="body" id="field_body"
                [(ngModel)]="node.body" required/>
            <div [hidden]="!(editForm.controls.body?.dirty && editForm.controls.body?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.body?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="migrantechApp.node.influenceArea">Influence Area</label>
           <!-- <input type="text" class="form-control" name="influenceArea" id="field_influenceArea"
                [(ngModel)]="node.influenceArea" required/>-->
            <jhi-areamun [(mun)]="areaExternal"> </jhi-areamun>
            <div [hidden]="!(editForm.controls.influenceArea?.dirty && editForm.controls.influenceArea?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.influenceArea?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="migrantechApp.node.topic" for="field_topic">Topic</label>
            <select class="form-control" name="topic" [(ngModel)]="node.topic" id="field_topic"  required>
                <option value="Educacion">{{'migrantechApp.Topic.Educacion' | translate}}</option>
                <option value="Trabajo">{{'migrantechApp.Topic.Trabajo' | translate}}</option>
                <option value="Emprendurismo">{{'migrantechApp.Topic.Emprendurismo' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.topic?.dirty && editForm.controls.topic?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.topic?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="migrantechApp.node.type" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="node.type" id="field_type"  required>
                <option value="Pregunta">{{'migrantechApp.TypeNode.Pregunta' | translate}}</option>
                <option value="Blog">{{'migrantechApp.TypeNode.Blog' | translate}}</option>
                <option value="ProgramaApoyo">{{'migrantechApp.TypeNode.ProgramaApoyo' | translate}}</option>
                <option value="Notas">{{'migrantechApp.TypeNode.Notas' | translate}}</option>
                <option value="BolsaTrabajo">{{'migrantechApp.TypeNode.BolsaTrabajo' | translate}}</option>
                <option value="Eventos">{{'migrantechApp.TypeNode.Eventos' | translate}}</option>
                <option value="OficinaAtencion">{{'migrantechApp.TypeNode.OficinaAtencion' | translate}}</option>
                <option value="Convocatoria">{{'migrantechApp.TypeNode.Convocatoria' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.type?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="migrantechApp.node.file" for="field_file">File</label>
            <div>
                <div *ngIf="node.file" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(node.fileContentType, node.file)" jhiTranslate="entity.action.open">open</a><br>
                    <span class="pull-left">{{node.fileContentType}}, {{byteSize(node.file)}}</span>
                    <button type="button" (click)="node.file=null;node.fileContentType=null;"
                            class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_file" (change)="setFileData($event, node, 'file', false)" jhiTranslate="entity.action.addblob"/>
            </div>
            <input type="hidden" class="form-control" name="file" id="field_file"
                   [(ngModel)]="node.file" />
            <input type="hidden" class="form-control" name="fileContentType" id="field_fileContentType"
                   [(ngModel)]="node.fileContentType" />
        </div>

        <div class="form-group">
            <label jhiTranslate="migrantechApp.node.tags" for="field_tags">Tags</label>
            <!--<select class="form-control" id="field_tags" multiple name="tags" [(ngModel)]="node.tags">
                <option [ngValue]="getSelected(node.tags, tagOption)" *ngFor="let tagOption of tags; trackBy: trackTagById">{{tagOption.title}}</option>
            </select>-->
            <div id="field_tags">
                <jhi-tags [(tags)]="tagsExternal"></jhi-tags>
            </div>
        </div>
        <div class="form-group">
            <label jhiTranslate="migrantechApp.node.place">Place</label>
           <!-- <select class="form-control" id="field_place" multiple name="place" [(ngModel)]="node.places">
                <option [ngValue]="getSelected(node.places, placeOption)" *ngFor="let placeOption of places; trackBy: trackPlaceById">{{placeOption.name}}</option>
            </select> -->
            <jhi-mapcapture [(place)]="placeExternal"> </jhi-mapcapture>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
