<div class="block" *ngIf="showOperations">
    <div class="header">
        <div class="title">Interacciones</div>
        <div class="description">Selecciona la acción a realizar dentro de las secciones temáticas de la plataforma</div>
    </div>
    <div class="content">
        <button type="button" class="btn-sm btn-outline-primary" [routerLink]="['/', { outlets: { popup: ['question-new'] } }]">Agregar pregunta</button>
        <button type="button" class="btn-sm btn-outline-primary" [routerLink]="['/', { outlets: { popup: ['blog-new'] } }]">Agregar publicación en blog</button>
        <button type="button" class="btn-sm btn-outline-primary" [routerLink]="['/', { outlets: { popup: ['position-new'] } }]">Agregar posición de trabajo</button>
        <button type="button" class="btn-sm btn-outline-primary" [routerLink]="['/', { outlets: { popup: ['oficina-new'] } }]">Agregar lugar de apoyo migrante</button>
        <button type="button" class="btn-sm btn-outline-primary" [routerLink]="['/', { outlets: { popup: ['support-program-new'] } }]">Agregar programa de apoyo</button>
        <button type="button" class="btn-sm btn-outline-primary" [routerLink]="['/', { outlets: { popup: ['event-new'] } }]">Agregar evento</button>
    </div>
</div>
<div class="block-wb">
    <div class="content search">
        <div class="input-group">
                <label for="searcher-timeline" class="sr-only">Buscar contenidos</label>
                <input [(ngModel)]="terms" class="form-control" id="searcher-timeline" type="text" placeholder="Buscar contenidos">
                <div class="input-group-btn">
                    <button (click)="search()" type="button" class="btn btn-primary">Buscar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block-wb">
    <div class="content export">
        <div class="pull-right">
            <jhi-timeline-map *ngIf="showMapButton"></jhi-timeline-map>
        </div>
    </div>
</div>

