.block {
    border: 1px solid #f7f7f7;
    .header {
        min-height: 70px;
        .title{
            font-size: 14px;
            color: white;
        }
        .description{
            font-size: 12px;
            color: #818A91;
        }
        background-image: none;
    }
    border-radius: 4px;
    .content {
        padding: 10px;
        .btn-sm{
            margin: 4px;
        }
    }
}
