<div class="component-field row" id="area-municipio-component">
    <div class="col-sm-4">
        <label>Estado</label>
        <ng2-completer [(ngModel)]="edo"
                       [minSearchLength]="3"
                       [inputClass]="'form-control'"
                       [dataService]="dataRemote1"
                       [textSearching]="'Buscando ...'"
                       (selected)="onStateSelected($event)"
                       [textNoResults]="'No se encontró estado'"
                       [disableInput]="state1">
        </ng2-completer>
    </div>
    <div class="col-sm-4" *ngIf="state1">
        <label>Municipio</label>
        <ng2-completer [(ngModel)]="munv"
                       [minSearchLength]="3"
                       [inputClass]="'form-control'"
                       [dataService]="dataRemote2"
                       [textSearching]="'Buscando ...'"
                       (selected)="onMunSelected($event)"
                       [textNoResults]="'No se encontró municipio'"
                       [disableInput]="state2">
        </ng2-completer>
    </div>
    <div class="col-sm-4">
        <div class="form-control btn btn-primary" id="reset-area" (click)="resetMun()"> Borrar </div>
    </div>
</div>
