<div class="messages-area container-fluid " (window:resize)="onResize($event)">
    <div class="row" [style.height.px]="heightWindow - 230">
        <div class="offset-xl-1"> </div>
        <div class="col-5 col-sm-4 col-md-3 col-lg-3 col-xl-3 gray-container border-right contacts-area">
            <div class="actual-user">
                <div class="name-user media">
                    <div class="mr-3"> <img class="circle" src="{{actualUser.image}}" /> </div>
                    <div class="media-body">{{actualUser.name}}
                        <i class="fa fa-cog" aria-hidden="true"> </i>
                    </div>
                </div>
                <div class="messages-header text-center">
                    Mensajes  <i class="fa fa-comments" aria-hidden="true"> </i>
                </div>
                <div class="messages-search">
                      Buscar en mensajes
                      <i class="fa fa-search" aria-hidden="true"> </i>
                </div>
            </div>
            <div class="contacts">
                <ul id="list-contacts"  [style.height.px]="heightWindow -410">
                    <li *ngFor="let user of users" class="users">
                        <div class="media user" (click)="changeChat(user)">
                            <div class="mr-3"> <img class="circle-small" src="{{user.image}}" /> </div>
                            <span class="name media-body">{{user.name}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-7 col-sm-8 col-md-6 col-lg-6 col-xl-4 messages-area">
                <div class="messages-area">
                    <div class="info-uselected">
                        <div class="name-user">
                           {{selectedUser.name}}
                        </div>
                        <div class="type-user">
                            <span class="description">{{selectedUser.type}}</span>
                        </div>
                    </div>
                    <div class="messages-wrapper">
                        <ul #scrollMe id="list-message"  [style.height.px]="heightWindow - 580">
                            <li *ngFor="let message of messages" class="message">
                                <div class="text-{{message.align}}">
                                    <div class=" picture picture-{{message.align}}"> <img class="circle-small" src="{{message.user.image}}" /> </div>
                                    <span class="body body-{{message.align}}">{{message.message}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="messages-input">
                    <textarea
                        class="form-control"
                        rows="5"
                        [(ngModel)]='actualText'
                        placeholder="Escriba un mensaje ..."></textarea>
                </div>
                <div class="messages-controls container">
                    <div class="row">
                        <div class="col-6 text-left">
                            <div class="add-file">
                                <i aria-hidden="true" class="fa fa-paperclip"></i>
                            </div>
                        </div>
                        <div class="col-6 text-right">
                            <div class="btn btn-add" (click)="sendMessage()">Enviar</div>
                        </div>
                    </div>
                </div>

        </div>
        <div class="col-md-3 col-lg-3 col-xl-3 hidden-sm gray-container border-left extra-area">
            <div class="info-uselected text-center">
                <div class="img-wrapper">
                    <img class="circle-bordered" src="{{selectedUser.image}}" alt="">
                </div>
                <div class="name-user">
                    {{selectedUser.name}}
                </div>
                <div class="type-user">
                    <span class="description">{{selectedUser.type}}</span>
                </div>
            </div>
            <div class="timeline-uselected">


             </div>
        </div>
        <div class="offset-xl-1"> </div>
    </div>
</div>
