.messages-area{

    overflow: hidden;
    .info-uselected{
            padding: 10px !important;
            margin-bottom: 30px;
           .name-user{
                margin-top: 20px;
                font-size: 18px !important;
                font-weight: bold;
                color:#6D757E;
           }
           .type-user{
                font-size:12px !important;
                color: #aeaeae;
           }
    }
    .contacts-area{
        .name-user{
            background:#EAEDF3;
            padding: 10px 15px;
            font-weight: 200;
            .media-body{
                color: 	#6D757E !important;
                margin-top: 20px;
                i{
                    float: right;
                    font-size: 30px;
                 }
            }
        }
        .messages-header{
            padding: 10px 15px;
            font-weight: bold;
            font-size: 19px;
            color: 	#6D757E !important;
            i{
                float: right;
                font-size: 30px;
             }
        }
        .messages-search{
             padding: 10px 15px;
             background:#ffffff;

          i{
                float: right;
                font-size: 20px;
                color:#aaa;
            }
        }
        .contacts{
              #list-contacts{
                   list-style: none;
                   overflow-y: scroll;
                .user{
                  padding: 23px 10px;
                  border-bottom: 1px solid #DFE0E2;
                   &:hover{
                      background: white;
                    }
                    .name{
                        margin-top: 6px;
                    }
                }
             }
         }
    }
    .messages-area{
        padding: 0px !important;
        .messages-wrapper{
            #list-message{
                padding: 0px 10px;
                list-style: none;
                overflow-y: scroll;
                .message{
                    display: inline-block;
                    padding: 10px;
                    width: 100%;
                    .picture-left{
                        float: left;
                    }
                    .picture-right{
                        float: right;
                    }
                    .body{
                        display: inline-block;
                        padding: 8px 20px 10px 20px;
                        margin: 2px 20px !important;
                        border-radius: 3px;
                        &.body-left{
                            background: #F2F2F7;
                            color: #A2A2A2;
                        }
                        &.body-right{
                            background: #B13F96;
                            color: #FFF;
                        }
                    }
                }
            }
        }
        .messages-input{
            border-top: 4px solid #8B2A76;
            .form-control{
                border: 0px;
            }
        }
        .messages-controls{
            background: #F2F3F7;
            padding: 20px 20px;
            .btn-add{
                border: 1px solid #AF80B0;
                border-radius: 2px;
                background: white;
                color: #AF80B0;
                &:hover{
                    opacity: .7;
                }
            }
            .fa-paperclip{
                font-size: 24px;
                margin-top: 5px;
            }
        }
    }
}

.gray-container{
    padding: 0px;
    background: #F7F9FC;
    &.border-right{
         border-right: 2px solid #DBDCDC;
    }
    &.border-left{
         border-left: 2px solid #DBDCDC;
    }
    &.extra-area{
        padding: 40px 15px;
    }
}

.circle-bordered{
    border-radius: 110px;
    width: 110px;
    height: 110px;
    border: 1px solid #B1B9BD;
}

.circle-small{
    border-radius: 45px;
    width: 45px;
    height: 45px;
}

.circle{
    border-radius: 70px;
    width: 70px;
    height: 70px;
}

@media (max-width: 767.98px) {

    .hidden-sm{
        display: none;
    }

}
