
<!-- <div *ngIf="node">
    <h2><span jhiTranslate="migrantechApp.node.detail.title">Node</span> {{node.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="migrantechApp.node.title">Title</span></dt>
        <dd>
            <span>{{node.title}}</span>
        </dd>
        <dt><span jhiTranslate="migrantechApp.node.body">Body</span></dt>
        <dd>
            <span>{{node.body}}</span>
        </dd>
        <dt><span jhiTranslate="migrantechApp.node.influenceArea">Influence Area</span></dt>
        <dd>
            <span>{{node.influenceArea}}</span>
        </dd>
        <dt><span jhiTranslate="migrantechApp.node.topic">Topic</span></dt>
        <dd>
            <span jhiTranslate="{{'migrantechApp.Topic.' + node.topic}}">{{node.topic}}</span>
        </dd>
        <dt><span jhiTranslate="migrantechApp.node.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'migrantechApp.TypeNode.' + node.type}}">{{node.type}}</span>
        </dd>
        <dt><span jhiTranslate="migrantechApp.node.file">File</span></dt>
        <dd>
            <div *ngIf="node.file">
                <a (click)="openFile(node.fileContentType, node.file)" jhiTranslate="entity.action.open">open</a>
                {{node.fileContentType}}, {{byteSize(node.file)}}
            </div>
        </dd>
        <dt><span jhiTranslate="migrantechApp.node.tags">Tags</span></dt>
        <dd>
            <span *ngFor="let tags of node.tags; let last = last">
                <a [routerLink]="['/tag', tags?.id ]">{{tags.title}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="migrantechApp.node.place">Place</span></dt>
        <dd>
            <span *ngFor="let place of node.places; let last = last">
                <a [routerLink]="['/place', place?.id ]">{{place.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'node/'+ node.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
-->