</br>
<div class="container">
    <h2>
        <span jhiTranslate="migrantechApp.blog.title">Blogs</span>
        <button class="btn btn-primary float-right jh-create-entity create-node" [routerLink]="['/', { outlets: { popup: ['blog-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="migrantechApp.blog.createLabel">
                Create new Blog
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="nodes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="title"><span jhiTranslate="migrantechApp.node.title">Title</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="topic"><span jhiTranslate="migrantechApp.node.topic">Topic</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span jhiTranslate="migrantechApp.node.type">Type</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let node of nodes ;trackBy: trackId">
                <td><a [routerLink]="['../node', node.id ]">{{node.id}}</a></td>
                <td>{{node.title}}</td>
                <td jhiTranslate="{{'migrantechApp.Topic.' + node.topic}}">{{node.topic}}</td>
                <td jhiTranslate="{{'migrantechApp.TypeNode.' + node.type}}">{{node.type}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'blog/'+ node.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'blog/'+ node.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>