<div class='block'>
    <div class='header'>Aplicaciones</div>
    <dl class='content'>
        <dt>
            <a routerLink="/timeline" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <span>Línea de tiempo</span>
            </a>
        </dt>
        <dd>Accede a las últimas interacciones, preguntas, notas y blogs de la comunidad migrante.</dd>
        <dt>
            <a routerLink="/question" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <span>Mis preguntas</span>
            </a>
        </dt>
        <dd>Lista tus preguntas, modifica o elimina los temas de tu autoría.</dd>
        <dt>
            <a routerLink="/blog" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <span>Blogs</span>
            </a>
        </dt>
        <dd>Lista tus publicaciones, modifica o elimina tus notas o publicaciones.</dd>
        <dt>
            <a routerLink="/link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <span>Vinculación migrante - Sponsor</span>
            </a>
        </dt>
        <dd>Encuentra a un sponsor que te ayude a integrarte a tu destino de acogida.</dd>
        <dt>
            <a routerLink="/messages" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <span>Mensajes</span>
            </a>
        </dt>
        <dd>Envía mensajes a los integrantes de la comunidad MigranTech.</dd>
        <dt>
            <a routerLink="/position" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <span>Bolsa de Trabajo</span>
            </a>
        </dt>
        <dd>Lista tus posiciones publicadas y modificalas o eliminalas.</dd>
        <dt>
            <a routerLink="/docs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <span>Datos abiertos</span>
            </a>
        </dt>
        <dd>Accede a los catálogos de datos abiertos de MigranTech.</dd>
    </dl>
</div>


