<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUserLabel" jhiTranslate="userManagement.home.createOrEditLabel">
            Create or edit a User</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!user.id">
            <label jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id"
                   [(ngModel)]="user.id" readonly>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="userManagement.login">Login</label>
            <input type="text" class="form-control" name="login" #loginInput="ngModel"
                   [(ngModel)]="user.login" required minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">

            <div *ngIf="loginInput.dirty && loginInput.invalid">
                <small class="form-text text-danger"
                   *ngIf="loginInput.errors.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>

                <small class="form-text text-danger"
                   *ngIf="loginInput.errors.maxlength" jhiTranslate="entity.validation.maxlength"
                   translateValues="{max: 50}">
                    This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="userManagement.firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" #firstNameInput="ngModel"
                   [(ngModel)]="user.firstName" maxlength="50">

            <div *ngIf="firstNameInput.dirty && firstNameInput.invalid">
                <small class="form-text text-danger"
                   *ngIf="firstNameInput.errors.maxlength" jhiTranslate="entity.validation.maxlength"
                   translateValues="{max: 50}">
                    This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label jhiTranslate="userManagement.lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" #lastNameInput="ngModel"
                   [(ngModel)]="user.lastName" maxlength="50">

            <div *ngIf="lastNameInput.dirty && lastNameInput.invalid">
                <small class="form-text text-danger"
                   *ngIf="lastNameInput.errors.maxlength" jhiTranslate="entity.validation.maxlength"
                   translateValues="{max: 50}">
                    This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="userManagement.email">Email</label>
            <input type="email" class="form-control" name="email" #emailInput="ngModel"
                   [(ngModel)]="user.email" minlength="5" required maxlength="100" email>

            <div *ngIf="emailInput.dirty && emailInput.invalid">
                <small class="form-text text-danger"
                   *ngIf="emailInput.errors.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>

                <small class="form-text text-danger"
                   *ngIf="emailInput.errors.maxlength" jhiTranslate="entity.validation.maxlength"
                   translateValues="{max: 100}">
                    This field cannot be longer than 100 characters.
                </small>

                <small class="form-text text-danger"
                   *ngIf="emailInput.errors.minlength" jhiTranslate="entity.validation.minlength"
                   translateValues="{min: 5}">
                    This field is required to be at least 5 characters.
                </small>

                <small class="form-text text-danger"
                   *ngIf="emailInput.errors.email" jhiTranslate="global.messages.validate.email.invalid">
                    Your email is invalid.
                 </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="userManagement.file" for="field_file">File</label>
            <div>
                <div *ngIf="user && user.file && user.fileContentType" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(user.fileContentType, user.file)" jhiTranslate="entity.action.open">open</a><br>
                    <span class="pull-left">{{user.fileContentType}}, {{byteSize(user.file)}}</span>
                    <button type="button" (click)="user.file=null;user.fileContentType=null;"
                            class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_file" accept="image/*" (change)="setFileData($event, user, 'file', false)" jhiTranslate="entity.action.addblob"/>
            </div>
            <input type="hidden" class="form-control" name="file" id="field_file"
                   [(ngModel)]="user.file"  />
            <input type="hidden" class="form-control" name="fileContentType" id="field_fileContentType"
                   [(ngModel)]="user.fileContentType" />
        </div>
        <div class="form-check">
            <label class="form-check-label" for="activated">
                <input class="form-check-input" [disabled]="user.id === null" type="checkbox" id="activated" name="activated" [(ngModel)]="user.activated">
                <span jhiTranslate="userManagement.activated">Activated</span>
            </label>
        </div>
        <div class="form-group" *ngIf="languages && languages.length > 0">
            <label jhiTranslate="userManagement.langKey">Lang Key</label>
            <select class="form-control" id="langKey" name="langKey" [(ngModel)]="user.langKey">
                <option *ngFor="let language of languages" [value]="language">{{language | findLanguageFromKey}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="userManagement.profiles">Profiles</label>
            <div>
                <ss-multiselect-dropdown  *ngIf="roles.length > 0" [ngModelOptions]="{standalone: true}" [options]="roles" [(ngModel)]="user.authorities ">
                </ss-multiselect-dropdown>
            </div>
        </div>
        <div style="background-color: #f7f7f7; padding: 15px; border: 1px solid #ece9e9;">
            <h4>Metadatos</h4>
            <div class="form-check">
                <label class="form-check-label" for="show_in_list">
                    <input class="form-check-input" type="checkbox" id="show_in_list" name="show_in_list" [(ngModel)]="user.showInList">
                    <span>Aparecer en listados de vinculación sponsor-migrante</span>
                </label>
            </div>
            <div class="form-group" *ngIf="user && user.authorities && user.authorities.length > 0 && user.authorities.indexOf('ROLE_COLABORADOR') > -1">
                <label class="form-control-label">Nombre de asociación o Institución a la que representa</label>
                <input type="text" class="form-control" name="login" #nomInstInput="ngModel"
                       [(ngModel)]="user.nomInst" required minlength="1" maxlength="255">
                <div *ngIf="nomInstInput.dirty && nomInstInput.invalid">
                    <small class="form-text text-danger"
                           *ngIf="nomInstInput.errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                    <small class="form-text text-danger"
                           *ngIf="nomInstInput.errors.maxlength" jhiTranslate="entity.validation.maxlength"
                           translateValues="{max: 50}">
                        This field cannot be longer than 255 characters.
                    </small>
                </div>
            </div>

            <div class="form-group"     >
                <label class="form-control-label">Lugar de orígen</label>
                <jhi-areamun [(mun)]="user.originArea"> </jhi-areamun>
            </div>

            <div class="form-group">
                <label class="form-control-label">Lugar de residencia</label>
                <jhi-areamun [(mun)]="user.currentArea"> </jhi-areamun>
            </div>

            <div class="form-group">
                <label class="form-control-label" jhiTranslate="userManagement.topic" for="field_topic">Topic</label>
                <select class="form-control" name="topic" [(ngModel)]="user.topic" id="field_topic"  required>
                    <option value="Educacion">{{'migrantechApp.Topic.Educacion' | translate}}</option>
                    <option value="Trabajo">{{'migrantechApp.Topic.Trabajo' | translate}}</option>
                    <option value="Emprendurismo">{{'migrantechApp.Topic.Emprendurismo' | translate}}</option>
                </select>
                <div [hidden]="!(editForm.controls.topic?.dirty && editForm.controls.topic?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.topic?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label for="field_experience">Experiencia</label>
                <div id="field_experience">
                    <jhi-experiences [(experiences)]="user.experiences"></jhi-experiences>
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label">Bio</label>
                <textarea type="text" class="form-control" name="bio" #bioInput="ngModel"
                       [(ngModel)]="user.bio" required minlength="1" cols="10">
                </textarea>
                <div *ngIf="bioInput.dirty && bioInput.invalid">
                    <small class="form-text text-danger"
                           *ngIf="bioInput.errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span
            jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-floppy-o"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
