<div id="reports" class="container-fluid">
    <div id="search-wrapper">
        <div class="container">
            <div class="row ">
                <div class="offset-md-1 offset-lg-2"></div>
                <div class="col-md-10 col-lg-8 text-center">
                    <div class="wrapper-areamun">
                        <jhi-areamun [(mun)]="municipe"> </jhi-areamun>
                    </div>
                </div>
                <div class="offset-md-1  offset-lg-2"></div>
            </div>
        </div>
    </div>
    <div id="map-wrapper">
        <agm-map [latitude]="centerMap.lat" [longitude]="centerMap.lng">
            <agm-marker [latitude]="place.lat" [longitude]="place.lng" *ngFor="let place of places; let i=index">
                <agm-info-window><a href="/#/place/{{place.id}}" target="_blank">{{place.name}}</a></agm-info-window>
            </agm-marker>
        </agm-map>
    </div>

    <div id="main-report">
        <div class="row">
            <div class="offset-lg-1"> </div>
            <div class="col-lg-10 text-center">

                <div class="filters text-center inner-report-section">
                    <h4>Filtros</h4>
                    <div class="row field-group">
                        <div class="offset-md-3"></div>
                        <div class="col-6 col-sm-6 col-md-3 text-center">
                            <label> Desde </label>
                            <my-date-picker name="start" [options]="myDatePickerOptions"
                                            [(ngModel)]="search.startDate"></my-date-picker>
                        </div>
                        <div class="col-6 col-sm-6 col-md-3 text-center">
                            <label> Hasta </label>
                            <my-date-picker name="end" [options]="myDatePickerOptions"
                                            [(ngModel)]="search.endDate"></my-date-picker>
                        </div>
                        <div class="offset-md-3"></div>
                    </div>
                    <div class="row  field-group">
                        <div class="col-12 col-sm-6 col-md-4 text-center">
                            <label> Tipo </label>
                            <select class="form-control" name="search.type" [(ngModel)]="type" id="field_type" (ngModelChange)="onChangeType($event)">
                                <option value="">Seleccionar tipo</option>
                                <option value="Pregunta">{{'migrantechApp.TypeNode.Pregunta' | translate}}</option>
                                <option value="Blog">{{'migrantechApp.TypeNode.Blog' | translate}}</option>
                                <option value="ProgramaApoyo">{{'migrantechApp.TypeNode.ProgramaApoyo' | translate}}</option>
                                <option value="Notas">{{'migrantechApp.TypeNode.Notas' | translate}}</option>
                                <option value="BolsaTrabajo">{{'migrantechApp.TypeNode.BolsaTrabajo' | translate}}</option>
                                <option value="Eventos">{{'migrantechApp.TypeNode.Eventos' | translate}}</option>
                                <option value="OficinaAtencion">{{'migrantechApp.TypeNode.OficinaAtencion' | translate}}</option>
                                <option value="Convocatoria">{{'migrantechApp.TypeNode.Convocatoria' | translate}}</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 text-center">
                            <label for="field_topic"> Tema </label>
                            <select class="form-control" name="topic" [(ngModel)]="search.topic" id="field_topic">
                                <option value="">Seleccionar tema</option>
                                <option value="Educacion">{{'migrantechApp.Topic.Educacion' | translate}}</option>
                                <option value="Trabajo">{{'migrantechApp.Topic.Trabajo' | translate}}</option>
                                <option value="Emprendurismo">{{'migrantechApp.Topic.Emprendurismo' | translate}}</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 text-center">
                            <label> Usuari@ / Institución </label>
                            <ng2-completer [(ngModel)]="search.user"
                                           [minSearchLength]="3"
                                           [inputClass]="'form-control'"
                                           [dataService]="dataRemoteUser"
                                           [textSearching]="'Buscando ...'"
                                           (selected)="onSelectedUser($event)"
                                           [textNoResults]="'No se encontró usuari@'"
                                           >
                            </ng2-completer>
                        </div>
                    </div>
               </div>

               <div class="table inner-report-section">
                   <h4>Tabla</h4>
                   <div class="table-responsive" *ngIf="nodes">
                       <table class="table table-striped">
                           <thead>
                           <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                               <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
                               <th jhiSortBy="title"><span jhiTranslate="migrantechApp.node.title">Title</span> <span class="fa fa-sort"></span></th>
                               <th jhiSortBy="topic"><span jhiTranslate="migrantechApp.node.topic">Topic</span> <span class="fa fa-sort"></span></th>
                               <th jhiSortBy="type"><span jhiTranslate="migrantechApp.node.type">Type</span> <span class="fa fa-sort"></span></th>
                               <th></th>
                           </tr>
                           </thead>
                           <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                           <tr *ngFor="let node of nodes ;trackBy: trackId">
                               <td><a [routerLink]="['../node', node.id ]">{{node.id}}</a></td>
                               <td>{{node.title}}</td>
                               <td jhiTranslate="{{'migrantechApp.Topic.' + node.topic}}">{{node.topic}}</td>
                               <td jhiTranslate="{{'migrantechApp.TypeNode.' + node.type}}">{{node.type}}</td>
                               <td class="text-right">
                                   <div class="btn-group flex-btn-group-container">
                                       <button type="submit"
                                               [routerLink]="['../node', node.id ]"
                                               class="btn btn-info btn-sm">
                                           <span class="fa fa-eye"></span>
                                           <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                       </button>
                                   </div>
                               </td>
                           </tr>
                           </tbody>
                           <tfoot>
                           <tr class="text-rigth">
                               <div class="btn btn-primary" id="btn-download-csv"  (click)="downloadCSV()">
                                    Descargar CSV
                               </div>
                           </tr>
                           </tfoot>
                       </table>
               </div>

               <div class="sum-graphs inner-report-section">

                   <div class="row indicator-row">
                       <div class="likes col-6 col-md-3 col-lg-3">
                         <h5>Me interesa</h5>
                           <div class="count clikes">
                               {{sumTotal.clikes}}
                           </div>
                       </div>
                       <div class="views col-6 col-md-3 col-lg-3">
                           <h5>Visitas</h5>
                           <div class="count cviews">
                               {{sumTotal.cviews}}
                           </div>
                       </div>
                       <div class="shares col-6 col-md-3 col-lg-3">
                           <h5>Comparticiones</h5>
                           <div class="count cshares">
                               {{sumTotal.cshares}}
                           </div>
                       </div>
                       <div class="comments col-6 col-md-3 col-lg-3">
                           <h5>Comentarios</h5>
                           <div class="count ccomments">
                               {{sumTotal.ccomments}}
                           </div>
                       </div>
                   </div>

                   <div [chart]="chart"></div>

               </div>

            </div>
            <div class="offset-lg-1"> </div>
        </div>
    </div>


</div>
