#reports{
     .wrapper-areamun{
        display: flex;
        jhi-areamun{
            position: absolute;
            z-index: 100;
            width: 100%;
           }
    }
    .field-group{
        margin-bottom:30px;
    }
    agm-map {
        height: 600px;
    }
    .inner-report-section{
        margin-top: 40px;
        .indicator-row{
            margin: 40px 0px;
            .count{
                font-weight: bold;
                font-size: 20px;
                border-radius: 4px;
                color: white;
                display: inline-block;
                padding: 10px 20px;
                &.clikes{
                     background: #3F51B5;
                }
                &.cviews{
                     background: #673AB7;
                }
                &.cshares{
                     background: #E91E63;
                }
                &.ccomments{
                     background: #9C27B0;
                }
            }
        }
    }
    #btn-download-csv{
        display: table-caption;
    }
}

