<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myNodeLabel" jhiTranslate="migrantechApp.support-program.createOrEditLabel">Create or edit a Support program</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!node.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    [(ngModel)]="node.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="migrantechApp.node.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="node.title" required/>
            <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="migrantechApp.support-program.dependence" for="field_dependence">Management dependence</label>
            <input type="text" class="form-control" name="dependence" id="field_dependence"
                [(ngModel)]="jsonBody.dependence" required/>
            <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="migrantechApp.support-program.directedTo" for="field_directedTo">Directed to </label>
            <input type="text" class="form-control" name="directedTo" id="field_directedTo"
                [(ngModel)]="jsonBody.directedTo" required/>
            <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="migrantechApp.support-program.body" for="field_body">Body</label>
            <textarea type="text" class="form-control" name="body" id="field_body"
                [(ngModel)]="jsonBody.body" required> </textarea>
            <div [hidden]="!(editForm.controls.body?.dirty && editForm.controls.body?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.body?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="migrantechApp.support-program.validityTo" for="field_validityTo">Vigente al: </label>
            <input class="form-control" type="date" name="validityTo" id="field_validityTo" [(ngModel)]="jsonBody.validityTo">
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="migrantechApp.support-program.file" for="field_file">File</label>
            <div>
                <div *ngIf="jsonBody.file" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(jsonBody.fileContentType, jsonBody.file)" jhiTranslate="entity.action.open">open</a><br>
                    <span class="pull-left">{{jsonBody.fileContentType}}, {{byteSize(jsonBody.file)}}</span>
                    <button type="button" (click)="jsonBody.file=null;jsonBody.fileContentType=null;"
                            class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_file" (change)="setFileData($event, jsonBody, 'file', false)" jhiTranslate="entity.action.addblob"/>
            </div>
            <input type="hidden" class="form-control" name="file" id="field_file"
                    [(ngModel)]="jsonBody.file" />
            <input type="hidden" class="form-control" name="fileContentType" id="field_fileContentType"
                    [(ngModel)]="jsonBody.fileContentType" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="migrantechApp.support-program.url.global" for="field_url">Enlace</label><br/>
            <div class="padding-left">
                <div class="push-left">
                    <label class="form-control-label" jhiTranslate="migrantechApp.support-program.url.title" for="field_url_title">Título</label><br/>
                    <input type="text" class="form-control" name="url_title" id="field_url_title"
                        [(ngModel)]="jsonBody.url.title"/>
                    <label class="form-control-label" jhiTranslate="migrantechApp.support-program.url.src" for="field_url_src">URL</label><br/>
                    <input type="url" class="form-control" name="url_src" id="field_url_src"
                        [(ngModel)]="jsonBody.url.src" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="migrantechApp.node.influenceArea">Influence Area</label>
           <!-- <input type="text" class="form-control" name="influenceArea" id="field_influenceArea"
                [(ngModel)]="node.influenceArea" required/>-->
            <jhi-areamun [(mun)]="areaExternal"> </jhi-areamun>
            <div [hidden]="!(editForm.controls.influenceArea?.dirty && editForm.controls.influenceArea?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.influenceArea?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="migrantechApp.node.topic" for="field_topic">Topic</label>
            <select class="form-control" name="topic" [(ngModel)]="node.topic" id="field_topic"  required>
                <option value="Educacion">{{'migrantechApp.Topic.Educacion' | translate}}</option>
                <option value="Trabajo">{{'migrantechApp.Topic.Trabajo' | translate}}</option>
                <option value="Emprendurismo">{{'migrantechApp.Topic.Emprendurismo' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.topic?.dirty && editForm.controls.topic?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.topic?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="migrantechApp.blog.tags" for="field_tags">Tags</label>
            <div id="field_tags">
                <jhi-tags [(tags)]="tagsExternal"></jhi-tags>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
