<!--<jhi-page-ribbon></jhi-page-ribbon>
<div class="card jh-card">
-->
<div>
    <router-outlet name="navbar"></router-outlet>
</div>
<div class="container-fluid">
    <router-outlet></router-outlet>
    <router-outlet name="popup"></router-outlet>
</div>
<div>
    <jhi-footer></jhi-footer>
</div>
