
<div *ngIf="tag">
    <h2><span jhiTranslate="migrantechApp.tag.detail.title">Tag</span> {{tag.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="migrantechApp.tag.title">Title</span></dt>
        <dd>
            <span>{{tag.title}}</span>
        </dd>
        <dt><span jhiTranslate="migrantechApp.tag.weight">Weight</span></dt>
        <dd>
            <span>{{tag.weight}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tag/'+ tag.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
