
/* ==========================================================================
Navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc
}

.jh-navbar {
    background-color: #ebebec;
    padding: .2em 1em;
    .profile-image {
        margin: -10px 0px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .dropdown-item.active, .dropdown-item.active:focus, .dropdown-item.active:hover {
        background-color: #353d47;
    }
    .dropdown-toggle::after {
        margin-left: 0.15em;
    }

    ul.navbar-nav {
        padding: 0.5em;
        .nav-item {
            margin-left: 1.5rem;
        }
    }
    a.nav-link {
        font-weight: 400;
    }
    .jh-navbar-toggler {
        color: #ccc;
        // font-size: 1.5em;
        font-size: 15px;
        padding: 10px;
        &:hover {
            color: #fff;
        }
    }
}
.navbar-dark .navbar-nav .nav-link{
    color: #5e666d;
}
@media screen and (min-width: 768px) {
    .jh-navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}
.navbar-nav{
    form{
        margin-left: 1.5em;
        .form-group {
            display: inline-block;
            margin-bottom: 0;
        }
        .btn{
            vertical-align: unset;
            &.btn-primary{
                background: #fff;
                border-color: #9F2D82;
                color: #9F2D82;
                &:active,
                &:hover{
                    background: #fff;
                    border-color: #9F2D82;
                    color: #9F2D82;
                }
            }
        }

    }
}
/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand {
    &.logo {
        padding-top: 5px;
        padding-bottom: 2px !important;
        .logo-img {
            width: 180px;
            height: 50px;
            display: inline-block;
            vertical-align: middle;
            background: url("../../../content/images/logo-header-03.png") no-repeat center center;
            background-size: contain;
        }
        clear: bottom;
    }
    span {
        font-size: 12px !important;
    }
    .gray-small{
        color: #ccc;
        font-weight: 400;
        font-size: 14px;
    }

}
.lang-block {
    margin-right: 20px;
    li.lang{
        width: 0px !important;
    }
}

