<nav class="navbar navbar-dark navbar-expand-md jh-navbar">
    <div class="container-fluid">
        <div class="jh-logo-container float-left">
            <a class="jh-navbar-toggler d-lg-none float-right" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
                <i class="fa fa-bars"></i>
            </a>
            <a class="navbar-brand logo float-left" routerLink="/" (click)="collapseNavbar()">
                <span class="logo-img"></span>
                <!-- <span jhiTranslate="global.title" class="navbar-title">Migrantech</span> <span class="navbar-version">{{version}}</span> -->
            </a>
        </div>
        <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
            <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                        <span>
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.home">Home</span>
                        </span>
                    </a>
                </li> -->
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                        <span>
                            <i class="fa fa-th-list" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.main">
                                Entities
                            </span>
                        </span>
                    </a>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li>
                            <a class="dropdown-item" routerLink="tag" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.tag">Tag</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="question" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.questions">My questions</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="blog" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.blogs">My blogs</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="position" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.position">Work Position</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="support-program" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.support-program">Support Porgrams</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="event" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.events">Events</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="oficina" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.offices" >Migrant Offices</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="place" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.place">Place</span>
                            </a>
                        </li>
                        <li>
                        <a class="dropdown-item" routerLink="experience" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.experience">Experience</span>
                        </a>
                    </li>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                        <span>
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.main">Administration</span>
                        </span>
                    </a>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li>
                            <a class="dropdown-item" routerLink="user-management" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="jhi-metrics" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-tachometer" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="jhi-health" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-heart" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.admin.health">Health</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="jhi-configuration" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-list" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="audits" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-bell" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.admin.audits">Audits</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="logs" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-tasks" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.admin.logs">Logs</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="reports" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-area-chart" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.admin.estadistic">Estadistic</span>
                            </a>
                        </li>
                        <li *ngIf="swaggerEnabled">
                            <a class="dropdown-item" routerLink="docs" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-book" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.admin.apidocs">API</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    </ul>
                </li>
                <!-- <li ngbDropdown class="nav-item dropdown pointer" *ngIf="languages">
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown" *ngIf="languages.length > 1">
                        <span>
                            <i class="fa fa-flag" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.language">Language</span>
                        </span>
                    </a>
                    <ul class="dropdown-menu" ngbDropdownMenu *ngIf="languages.length > 1">
                        <li *ngFor="let language of languages">
                            <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                        </li>
                    </ul> -->
                <li class="nav-item  pointer" *ngIf="languages"></li>
                    <ul class="list-inline lang-block" *ngIf="languages && languages.length > 1">
                        <li class="lang nav-item list-inline-item" *ngFor="let language of languages">
                            <a class="nav-link" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{language}}</a>
                        </li>
                    </ul>
                </li>
                <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                      <span *ngIf="!getImageUrl()">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.account.main">
                          Account
                        </span>
                      </span>
                      <span *ngIf="getImageUrl()">
                          <img [src]="getImageUrl()" class="profile-image img-circle" alt="Avatar">
                      </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right ml-auto" ngbDropdownMenu>
                        <li *ngSwitchCase="true">
                            <a class="dropdown-item" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-wrench" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.account.settings">Settings</span>
                            </a>
                        </li>
                        <li *ngSwitchCase="true">
                            <a class="dropdown-item" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.account.password">Password</span>
                            </a>
                        </li>
                        <li *ngSwitchCase="true">
                            <a class="dropdown-item" routerLink="sessions" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-cloud" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.account.sessions">Sessions</span>
                            </a>
                        </li>
                        <li *ngSwitchCase="true">
                            <a class="dropdown-item" (click)="logout()" id="logout">
                                <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.account.logout">Sign out</span>
                            </a>
                        </li>
                        <li *ngSwitchCase="false">
                            <a class="dropdown-item" (click)="login()" id="login">
                                <i class="fa fa-fw fa-sign-in" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.account.login">Sign in</span>
                            </a>
                        </li>
                        <li *ngSwitchCase="false">
                            <a class="dropdown-item" routerLink="register" routerLinkActive="active" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-user-plus" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.account.register">Register</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <form *ngSwitchCase="false" class="form" role="form" (ngSubmit)="login()">
                    <div class="form-group">
                        <label class="sr-only" for="username" jhiTranslate="global.form.username">Login</label>
                        <input type="text" class="form-control" name="username" id="username" placeholder="{{'global.form.username.placeholder' | translate}}"
                        [(ngModel)]="username">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="passwordNav" jhiTranslate="login.form.password">Password</label>
                        <input type="password" class="form-control" name="passwordNav" id="passwordNav" placeholder="{{'login.form.password.placeholder' | translate}}"
                               [(ngModel)]="passwordNav">
                    </div>
                    <button type="submit" class="btn btn-primary" jhiTranslate="login.form.enter">Sign in</button>
                </form>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div style="margin-top: 20px;" class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication">
        <strong>Failed to sign in!</strong> Please check your credentials and try again.
    </div>
</div>

