<div class="register-form">
    <div class="whith-degrade">
        <div class="container">
            <div class="register-form-area offset-lg-3 col-lg-6">
                <div class="interact">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <h2>Interactua</h2>
                            <div class="row">
                                <div class="col-lg-6">
                                    <button type="button" class="btn btn-default btn-block btn-lg"> Descubre qué hacemos</button>
                                    </br>
                                </div>
                                <div class="col-lg-6">
                                    <button type="button" class="btn btn-default btn-block btn-lg"> Timeline público</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                        <div class="row justify-content-center">
                            <div class="col-md-12">
                                </br>
                                <h2>Regístrate</h2>
                                <div class="alert alert-success" *ngIf="success" jhiTranslate="register.messages.success">
                                    <strong>Registration saved!</strong> Please check your email for confirmation.
                                </div>

                                <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">
                                    <strong>Registration failed!</strong> Please try again later.
                                </div>

                                <div class="alert alert-danger" *ngIf="errorUserExists" jhiTranslate="register.messages.error.userexists">
                                    <strong>Login name already registered!</strong> Please choose another one.
                                </div>

                                <div class="alert alert-danger" *ngIf="errorEmailExists" jhiTranslate="register.messages.error.emailexists">
                                    <strong>Email is already in use!</strong> Please choose another one.
                                </div>

                                <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                                    The password and its confirmation do not match!
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-12">
                                <form name="form" role="form" (ngSubmit)="register()" #registerForm="ngForm" *ngIf="!success">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" name="email" #email="ngModel" placeholder="{{'global.form.email.placeholder' | translate}}"
                                                [(ngModel)]="registerAccount.email" minlength=5 maxlength=100 email required>
                                        <div *ngIf="email.dirty && email.invalid">
                                            <small class="form-text text-danger" *ngIf="email.errors.required"
                                                    jhiTranslate="global.messages.validate.email.required">
                                                Your email is required.
                                            </small>
                                            <small class="form-text text-danger" *ngIf="email.errors.invalid"
                                                    jhiTranslate="global.messages.validate.email.invalid">
                                                Your email is invalid.
                                            </small>
                                            <small class="form-text text-danger" *ngIf="email.errors.minlength"
                                                    jhiTranslate="global.messages.validate.email.minlength">
                                                Your email is required to be at least 5 characters.
                                            </small>
                                            <small class="form-text text-danger" *ngIf="email.errors.maxlength"
                                                    jhiTranslate="global.messages.validate.email.maxlength">
                                                Your email cannot be longer than 100 characters.
                                            </small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="password" name="password" #password="ngModel" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                                                [(ngModel)]="registerAccount.password" minlength=4 maxlength=50 required>
                                        <div *ngIf="password.dirty && password.invalid">
                                            <small class="form-text text-danger" *ngIf="password.errors.required"
                                                    jhiTranslate="global.messages.validate.newpassword.required">
                                                Your password is required.
                                            </small>
                                            <small class="form-text text-danger" *ngIf="password.errors.minlength"
                                                    jhiTranslate="global.messages.validate.newpassword.minlength">
                                                Your password is required to be at least 4 characters.
                                            </small>
                                            <small class="form-text text-danger" *ngIf="password.errors.maxlength"
                                                    jhiTranslate="global.messages.validate.newpassword.maxlength">
                                                Your password cannot be longer than 50 characters.
                                            </small>
                                        </div>
                                        <jhi-password-strength-bar [passwordToCheck]="registerAccount.password"></jhi-password-strength-bar>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                                                [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                                        <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                                            <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required"
                                                    jhiTranslate="global.messages.validate.confirmpassword.required">
                                                Your confirmation password is required.
                                            </small>
                                            <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength"
                                                    jhiTranslate="global.messages.validate.confirmpassword.minlength">
                                                Your confirmation password is required to be at least 4 characters.
                                            </small>
                                            <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength"
                                                    jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                                                Your confirmation password cannot be longer than 50 characters.
                                            </small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <button type="submit" [disabled]="registerForm.form.invalid" class="offset-lg-1 col-lg-10 btn btn-default btn-block btn-lg" jhiTranslate="home.register.form.button">Register</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="info">
    <div class="container">
        <div class="about-migrantech">
            <div class="about-item caracteristics">
                <h2>Accede a las caracteristicas de MigranTech</h2>
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="caracteristic-item">
                            <img src="../../content/images/icono-06.png"/>
                            <h3>Línea de tiempo</h3>
                            <p>Accede a las últimas interacciones, pociciones de trabajo, foros, programas, lugares, notas, eventos, convocatorias y blogs de la comunidad migrante.</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="caracteristic-item">
                            <img src="../../content/images/icono-04.png"/>
                            <h3>Mensajes</h3>
                            <p>Envía mensajes a los integrantes de la comunidad MigranTch.</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="caracteristic-item">
                            <img src="../../content/images/icono-03.png"/>
                            <h3>Notas y blogs</h3>
                            <p>Accee a notas y publicaciónes de educación, trabajo, emprendedurismo e integración ciudadana.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="caracteristic-item">
                            <img src="../../content/images/icono-08.png"/>
                            <h3>Foros</h3>
                            <p>Pregunta en los foros de la comunidad, tus inquietudes o dudas acerca e tu ciudad de acogida.</p>
                        </div>
                    </div>

                    <div class="col-12 col-sm-4">
                        <div class="caracteristic-item">
                            <img src="../../content/images/icono-07.png"/>
                            <h3>Vinculación</h3>
                            <p>Encuentra a un sponsor que te ayude a integrarte a tu destino e acogida.</p>
                        </div>
                    </div>

                    <div class="col-12 col-sm-4">
                        <div class="caracteristic-item">
                            <img src="../../content/images/icono-05.png"/>
                            <h3>Bolsa de trabajo</h3>
                            <p>Accede a posiciones de trabajo publicads por empresas que se especializan en recibir a personas que migran a otros países.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-md-4 col-md-4">
                        <div class="caracteristic-item">
                            <img src="../../content/images/icono-02.png"/>
                            <h3>Datos abiertos</h3>
                            <p>Accee a los catálogos de datos abiertos de MigranTech.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-item topics">
                <h2>Tematicas</h2>
                <ul class="list-inline">
                    <li class="list-inline-item"><img src="../../content/images/iconosp-09.png"/><h3>General</h3></li>
                    <li class="list-inline-item"><img src="../../content/images/iconosp-10.png"/><h3>Educación</h3></li>
                    <li class="list-inline-item"><img src="../../content/images/iconosp-11.png"/><h3>Trabajo</h3></li>
                    <li class="list-inline-item"><img src="../../content/images/iconosp-12.png"/><h3>Emprendedurismo</h3></li>
                </ul>
            </div>
            <div class="about-item users-types">
                <h2>Tipos de usuarios</h3></h2>
                <ul class="list-inline">
                    <li class="list-inline-item"><h3>Migrantes</h3></li>
                    <li class="list-inline-item"><h3>Colaboradores / Instituciones / Asociaciones</h3></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--
<div [ngSwitch]="isAuthenticated()"></div>
<div class="alert alert-success" *ngSwitchCase="true">
<h1 class="display-4" jhiTranslate="home.title">Welcome, Java Hipster!</h1>
-->
