
/* ==========================================================================
Main page styles
========================================================================== */
.register-form-area {
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.3);
    padding: 30px;
    margin-top: 70px;
    margin-bottom: 60px;
    display: inline-block;
}
.register-form{
    background: url("../../content/images/traveler.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .whith-degrade{
        background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(249,249,249,.2) 50%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(249,249,249,.2) 50%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(249,249,249,.2) 50%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
        height: 100%;
        width: 100%;
    }
    h2{
        color: #fff;
        font-size: 28px;
        margin-bottom: 30px;
    }
    .interact {

    }
    label{
        color: #363A3D;
        font-weight: 500;
        font-size: 17px;
    }
}
.info{

    .container{
        padding-top: 50px;
        padding-bottom: 140px;
        background: url("../../content/images/global_image.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
    h3{
        font-weight: 200;
        color: rgb(135, 143, 150);
    }
}

.list-inline-item{
    margin-right: 80px;
}

.caracteristics {
    h2 {
        margin-bottom: 60px !important;
        color: rgb(165, 72, 147);
        font-weight: 300;
    }
    .caracteristic-item {
        margin-bottom: 30px;
        text-align: center;
        img {
            vertical-align: middle;
            border-style: none;
            width: 68px;
            margin-bottom: 10px;
        }
    }
}
.topics{
    li{
        img{
            height: 34px;
            float: left;
            margin-right: 5px;
        }
        h3{
            display: inline-block;
        }
    }
}
h2{
    margin-bottom: 50px;
    color: rgb(165, 72, 147);
    font-weight: 300;
}
.about-item{
    margin-bottom: 60px;
}

.btn{
    &.btn-default{
        color: #fff;
        background: rgba(37, 74, 36, 0.71);
        border-color: rgba(100, 159, 99, 0.5);
        font-size: 18px;
        font-weight: 500;
    }
}
.info{
    p,h3{
        text-align: center;
    }
}
/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}
