<div class='block'>
    <div class="content">
        <div class="background-area"></div>
        <img *ngIf="account && account.file === null" src="../../../content/images/image_profile.jpg" class="rounded-circle" alt="Imagen default de usuario, sobra en color gris"/>
        <img *ngIf="account && account.file !== null" src="{{'data:' + account.fileContentType + ';base64,' + account.file}}" class="rounded-circle" alt="Tu fotografía" />
        <div class="content-area">
            <div class="text-center" *ngIf="account && account.firstName && account.lastName">
                {{ account.firstName }} {{ account.lastName }}
            </div>
            <div class="text-center edit-profile">
                <a routerLink="/settings" routerLinkActive="active">Editar perfil</a>
            </div>
            <div class="group-field">
                <strong>Migrante desde: </strong>
                <span>2015</span>
            </div>
            <div class="group-field">
                <strong>Lugar de origen: </strong>
                <span *ngIf="account && account.originArea && account.originArea.nomEnt">{{ account.originArea.nomEnt }}</span>
            </div>
            <div class="group-field">
                <strong>Lugar de acogida: </strong>
                <span *ngIf="account && account.currentArea && account.currentArea.nomEnt">{{ account.currentArea.nomEnt }}</span>
            </div>
        </div>
    </div>
</div>
