
.content{
    position: relative;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    border: 1px solid #f7f7f7;
    .background-area{
        background: url(../../../content/images/global_image.png) #363A3D;
        background-repeat: no-repeat;
        background-size: 100% auto;
        border-radius: 2px;
        display: block;
        width: 100%;
        height: 110px;
        position: absolute;
    }
    img {
        width: 55%;
        z-index: 10;
        margin-top: 20px;
        position: relative;
        border: 2px solid #666;
    }
    .content-area{
        padding: 10px;
        width: 100%;
        text-align: left;
    }
    .edit-profile{
        margin-bottom: 20px;
    }
}
