<div class="component-field col-sm-12" id="map-capture-component">
    <form name="editForm"  id="inner-place-component" class="row" role="form" novalidate #editForm="ngForm">
        <div>
            <span id="is-there-place">¿Desea capturar lugar?</span>
            <input type="checkbox"
                   [checked]="isTherePlace.validate"
                   (change)="onChangeIsTherePlace(isTherePlace.validate)"
                  >
        </div>
        <br>
        <div class="body" [hidden]="!isTherePlace.validate">
            <div class="col-sm-12">
                <label class="form-control-label" jhiTranslate="migrantechApp.place.name" for="field_name">Name</label>
                <input type="text" class="form-control" name="name" id="field_name"
                       [(ngModel)]="place.name" required/>
                <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div class="col-sm-12">
                <label class="form-control-label" jhiTranslate="migrantechApp.place.address" for="field_address">Address</label>
                <input type="text" class="form-control" name="address" id="field_address"
                       [(ngModel)]="place.address" required/>
                <div [hidden]="!(editForm.controls.address?.dirty && editForm.controls.address?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.address?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div class="col-sm-12">
                <agm-map [latitude]="centerMap.lat" [longitude]="centerMap.lng" (mapClick)="onChoseLocation($event)">
                    <agm-marker [latitude]="centerMap.lat" [longitude]="centerMap.lng" *ngIf="centerMap.locationChosen"></agm-marker>
                </agm-map>
            </div>
        </div>
    </form>
</div>
