#map-capture-component{
    border: 1px solid #ededed;
    padding: 20px;
}

#map-capture-component #inner-place-component{
    display:block !important;
}

agm-map {
    height: 300px;
}

.sebm-google-map-container{
    margin-top: 20px !important;
    display: block;
}


