.component-field{
       margin-top: 10px;
}

.ng2-dropdown-menu---width--4{
    z-index: 2000 !important;
}

#reset-area{
    margin-top:30px;
}
.padding-left{
    padding-left: 15px;
    border-left: 2px solid #d6d6d6;
}
@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg); }
    to {
        -webkit-transform: rotate(360deg); } }
#loading {
    border: 1px solid #000;
    border-right: 0;
    border-bottom: 0;
    -webkit-border-radius: 100px;
    height: 100px;
    width: 100px;
    -webkit-transition: all 0.5s ease-in !important;
    -webkit-animation-name: rotate !important;
    -webkit-animation-duration: 1.0s !important;
    -webkit-animation-iteration-count: infinite !important;
    -webkit-animation-timing-function: linear !important;
    display: inline-block;
    margin: 100px; }

.btn-primary {
    color: #fff;
    background-color: #1761b4;
    border-color: #1662b4;
}

.btn-outline-primary {
    color: #1761b4;
    border-color: #1662b4;
    &:hover {
        color: #fff;
        background-color: #1761b4;
        border-color: #0000cb;
    }
}
.badge-secondary{
    background-color: #72767a;
}
