<div class="container">
    <div *ngIf="place" class="place-wrapper">
        <h2> <span>{{place.name}}</span> </h2>
        <hr>
        <jhi-alert-error></jhi-alert-error>

        <div class="info-wrapper floor">
            <div>
                <strong>
                    <span jhiTranslate="migrantechApp.place.address">Address</span>
                </strong>
            </div>
            <div>
                <span>{{place.address}}</span>
            </div>
        </div>

        <div class="floor">
            <agm-map [latitude]="coord.lat" [longitude]="coord.lng">
                <agm-marker [latitude]="coord.lat" [longitude]="coord.lng""></agm-marker>
            </agm-map>
        </div>

        <div class="floor">
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/', { outlets: { popup: 'place/'+ place.id + '/edit'} }]"
                    replaceUrl="true"
                    class="btn btn-primary">
                <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
